services:
  voicevox:
    ports:
      - 50021:50021
    image: voicevox/voicevox_engine:cpu-ubuntu20.04-0.18.1

  seitai:
    build:
      context: .
      target: development
    tty: true
    volumes:
      - type: bind
        source: Cargo.lock
        target: /usr/src/myapp/Cargo.lock
      - type: bind
        source: Cargo.toml
        target: /usr/src/myapp/Cargo.toml
      - type: bind
        source: crates
        target: /usr/src/myapp/crates
      - type: bind
        source: seitai
        target: /usr/src/myapp/seitai
    command: /bin/sh -c 'cargo run -p seitai'
    environment:
      DISCORD_TOKEN:
      VOICEVOX_HOST: voicevox
      KANATRANS_HOST: kanatrans
      KANATRANS_PORT: 8080
      PGHOST: database
      PGDATABASE: seitai
      PGUSER: seitai
      PGPASSWORD: seitai
  restarter:
    build:
      context: .
      target: development
    tty: true
    volumes:
      - type: bind
        source: Cargo.lock
        target: /usr/src/myapp/Cargo.lock
      - type: bind
        source: Cargo.toml
        target: /usr/src/myapp/Cargo.toml
      - type: bind
        source: crates
        target: /usr/src/myapp/crates
      - type: bind
        source: seitai
        target: /usr/src/myapp/seitai
    command: /bin/sh -c 'cargo run -- restarter'
    environment:
      DISCORD_TOKEN:

  kanatrans:
    image: ghcr.io/hexium310/kanatrans
    environment:
      KANATRANS_PORT: 8080
      RUST_LOG: kanatrans=info
    ports:
      - 8080:8080

  database:
    image: postgres:17
    environment:
      POSTGRES_DB: seitai
      POSTGRES_USER: seitai
      POSTGRES_PASSWORD: seitai
    ports:
      - '5432:5432'
    volumes:
      - type: volume
        source: database
        target: /var/lib/postgresql/data

volumes:
  database:
    driver: local
