name: CI

permissions:
  checks: write
  contents: read

on:
  push:
    branches:
      - master
  pull_request:

jobs:
  test:
    name: Test
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
      - name: Set up rust-toolchain
        uses: dtolnay/rust-toolchain@stable
        with:
          components: clippy
      - name: Cache dependencies
        uses: Swatinem/rust-cache@v2
        with:
          cache-on-failure: true
      - name: Test
        run: |
          cargo test --workspace
      - name: Run clippy
        uses: sksat/action-clippy@v1.1.1
        with:
          reporter: github-check
          github_token: ${{ secrets.GITHUB_TOKEN }}

  build:
    name: Build
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v6
        with:
          submodules: true
      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3
      - name: Build image
        uses: docker/bake-action@v6
        with:
          set: |
            *.cache-from=type=gha
            *.cache-to=type=gha,mode=max
